@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);

:root {
    --cor-de-fundo: #1e2025;
    --fundo-carrossel: #3f4552;
    --cor-titulo: #0f4386;
    --cor-clara: #e7e2d8;
    --cor-laranja:  #daa804;
    --botao-selecionado: #6770ac  ;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cinza: #83807b;
    --cinza-claro: #9c8f76;

    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

h1{
    color: var(--cor-titulo);
    
}

@media screen and (prefers-color-scheme: dark) {
  body {
       background-color: var(--cor-de-fundo);
       font-family: var(--fonte-principal);
  }
}